@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-score {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 19px;
    top: -70px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;

}

.title-home {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;

}

.scoreboard-home {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 165px;

    background: #080001;
    border-radius: 5px;
    }

.buttons-home {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 82px;
    top: 311px;

}

.plusonebtn {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: #9AABD8;
    font-size: 18px;
    text-align: center;
}

.plustwobtn {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 55px;
    

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: #9AABD8;
    font-size: 18px;
    text-align: center;

}

.plusthreebtn {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 110px;
    

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: #9AABD8;
    font-size: 18px;
    text-align: center;
}

.title-guest {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE; 
}

.scoreboard-guest {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 165px;

    background: #080001;
    border-radius: 5px;
}

.buttons-guest {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 337px;
    top: 311px;

}

#guest-score {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 19px;
    top: -70px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

.reset-button-area-home {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 117px;
    top: 380px;
}

.reset-home {
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: #9AABD8;
    font-size: 18px;
    text-align: center;
}

.reset-button-area-guest {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 372px;
    top: 380px;
}

.reset-guest {
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: #9AABD8;
    font-size: 18px;
    text-align: center;
}